// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.35;
$app-primary-color: #344F99;
$app-primary-color-300: #87A4E0;
$text-color: #3D185c;
$dark-text-color: #eee;
$dark-link-color: #dedede;
